html{
    height: 100%;
}

body{
    background-size: 400%;
    background-image: var(--gradient);
    animation: bg-animation 60s infinite alternate;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;



}

@keyframes bg-animation {
    0% {background-position: left;}
    100%{background-position: right;}
}

:root {
    --gradient: linear-gradient(
    25deg, 
    blue,
    rgb(46, 46, 171),
    rgb(110, 110, 192),
    rgb(221, 105, 221),
    rgb(193, 32, 193),
    purple
    );
}
